<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="devops">
            <directory>packages/devops/tests</directory>
        </testsuite>
        <testsuite name="support">
            <directory>packages/support/tests</directory>
        </testsuite>
        <testsuite name="notifications">
            <directory>packages/notifications/tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10="/>
    </php>
</phpunit>
